.base {
    font-size: var(--fs-16);
    color: #404040;
}

.H1SemiboldFs38 {
    color: #494949;
    font-size: var(--fs-38);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.H1SemiboldFs48 {
    color: #494949;
    font-size: var(--fs-48);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.Fs48Fw600 {
    font-size: var(--fs-38);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.Fs48Fw600Black {
    color: var(--black);
    font-size: var(--fs-38);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.Fs38Fw700Red {
    color: #DD1D21;
    font-size: var(--fs-38);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.Fs38Fw600Black {
    color: #494949;
    font-size: var(--fs-38);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.Fs18Fw400 {
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.Fs16Fw400Black {
    color: #494949;
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.Fs16Fw400 {
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Fs16Fw700 {
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.Fs16Fw500White {
    color: #fff;
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.Fs16Fw500Black {
    color: #494949;
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.Fs16Fw500 {
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.Fs24Fw600Black {
    color: #494949;
    font-size: var(--fs-24);
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.Fs24Fw500Black {
    color: #494949;
    font-size: var(--fs-24);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.Fs24Fw400Black {
    color: #494949;
    font-size: var(--fs-24);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Fs20Fw500Black {
    color: #494949;
    font-size: var(--fs-20);
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.Fs14Fw400Black {
    color: #494949;
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.Fs14Fw400 {
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: 400;
}

.Fs12Fw400Black {
    color: #494949;
    font-size: var(--fs-12);
    font-style: normal;
    font-weight: 400;
}

.Fs18Fw500 {
    font-size: var(--fs-18);
    font-style: normal;
    font-weight: 500;
}

.Fs18Fw400White {
    color: #fff;
    font-size: var(--fs-18);
    font-style: normal;
    font-weight: 400;
}

.Fs18Fw400Black {
    color: #494949;
    font-size: var(--fs-18);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.Fs14Fw400White {
    color: #fff;
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: 400;
}

.Fs18Fw500Black {
    color: #494949;
    font-size: var(--fs-18);
    font-style: normal;
    font-weight: 500;
}

.Fs32Fw600White {
    color: #FFF;
    font-size: var(--fs-32);
    font-style: normal;
    font-weight: 600;
}

.Fs14Fw500Black {
    color: #494949;
    font-size: var(--fs-14);
    font-style: normal;
    font-weight: 500;
}

.Fs12Fw400 {
    color: #404040;
    font-size: var(--fs-12);
    font-style: normal;
    font-weight: 400;
}

.Fs32Fw600Black {
    color: #494949;
    font-size: var(--fs-32);
    font-style: normal;
    font-weight: 600;
}

.Fs38Fw600White {
    color: #FFF;
    font-size: var(--fs-38);
    font-style: normal;
    font-weight: 600;
}

.Fs16Fw400White {
    color: #FFF;
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 400;
}