.contact {
    width: 64px;
    height: 64px;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        font-size: 20px;
        color: rgba(64, 64, 64, 1);
    }
}
