.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding: 15px 0;

}

.auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.link {
    color: gray;
    font-size: smaller;
    margin-top: 4px;
}

.group {
    margin-top: 10px;
}

.inputs {
    width: 100%s;
}

.input {
    margin-bottom: 8px;
}

.form {
    margin: 20px;
    width: 100%;
    // gap: 10px;
}

.headline {
    color: blacks;
    font-size: larger;
}

@media (max-width: 1400px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .block {
        padding: 0 30px;
    }

    .wrapperAuth {
        padding: 30px 30px;
    }
}