.authForm{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    max-width: 660px;
    padding: 24px;
    gap: 50px;
    background-color: var(--white);

    .title {
        width: 100%;
        text-align: center;
        align-items: center;
    }

}